* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*Esta propiedad toma en cuenta
	el padding, margin y borders dentro del ancho del elemento.
	Facilita el manejo del tamaño de los elementos*/
}

html{
	font-family: 'Montserrat', sans-serif;
	/* Establecemos la misma fuente para toda la pagina */
}

body{
	overflow-x: hidden;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	/* sacar subrayado de enlaces en menú*/
	color: inherit;
}

ul{
	list-style: none;
	margin-bottom: 0;
}


section{
	padding: 10rem 0;
}

.titulo-h2{
	font-size: 2rem;
	font-weight: 700;
	color: rgb(18, 18, 18);
	margin-bottom: 1rem;
}

.nav-links > li{
	border: 1px solid transparent;
}

.nav-links > li > a{
	padding: 10px 20px;
	transition: all 1s;
}

.nav-links > li > a:hover{
	background: rgb(247, 247, 247);
	color: rgb(43, 124, 43);
	font-weight: 600;
}

.nav-links,
.nav-logo	{
	animation: fade-in-right .5s;
}

@media screen and (max-width: 1024px){
	.nav.container{
		flex-direction: column;
		gap: 1rem;
	}

	.nav-links{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		font-weight: 500;
	}
}

/* Portada */

.parallax {

	/* The image used */
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.9) 30%, rgba(0,0,0,.5)),
	url("../img/portada.png");
	/* Set a specific height */
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* box modeling */
	padding: 12% 1rem;
}

.parallax div {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: rgb(235, 235, 235);
	/*esta forma le aplica valor al top, bottom, right and left*/
	/* rem = unidad de medida relativa a el tamaño de fuente del documento html. Por defecto es 16px  */
	animation: fade-in-top 1.5s;
}

.parallax h4 {
	font-size: 4rem;
	margin-bottom: 1rem;
	/* Aplica el margen solo debajo del elemento */
}

.parallax p {
	font-size: 1.5rem;
	max-width: 50ch;
}

@media screen and (max-width: 768px){
	
.parallax h4 {
	font-size: 2rem;
	margin-bottom: 1rem;
	/* Aplica el margen solo debajo del elemento */
}

.parallax p {
	font-size: 1.2rem;
}
}


/* Tabla productos */


/* .products-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
} */

.product-card{
	border: 1px solid rgb(236, 236, 236);
	background: rgb(239, 239, 239);
	overflow: hidden;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow .5s;
}

.product-card:hover{
	box-shadow:
  0px 1.9px 8px rgba(0, 0, 0, 0.028),
  0px 5.3px 22.2px rgba(0, 0, 0, 0.04),
  0px 12.7px 53.4px rgba(0, 0, 0, 0.052),
  0px 42px 177px rgba(0, 0, 0, 0.08)
;
}

.product-card img{
	transition: transform .5s,
							scale .5s;
}

.product-card img:hover{
	transform: translateY(-.5rem);
	transform: scale(1.02);
}

.product-card:hover .product-price{
	color: rgb(42, 168, 42);
}

.product-card > div{
	padding: 1rem;
	background: rgb(249, 249, 249);
	border-top: 1px solid rgb(236, 236, 236);
	color: rgb(18, 18, 18);
}

.product-price{
	font-size: 1.25rem;
}

#productos .titulo-h2{
	margin-bottom: 2rem;
}

/* virus arranque */
.virus,
.arranque {
	padding: 5rem 0;
	text-align: center;
}

.virus {
	width: 100%;
	background-color: rgba(146, 167, 153, 0.466);
	position: relative;
}

.arranque {
	width: 100%;
	background-color: rgba(74, 216, 121, 0.466);
	position: relative;
}

/* Servicios */

#servicios{
	background-color: rgb(243, 243, 243);
}

/* .servicios{
	display: grid;
	gap: 2rem;
	grid-template-columns:  repeat(2,1fr);
	align-items: center;
} */

.servicios aside{
	font-size: 2rem;
}

.servicios aside p{
	font-size: 1.25rem;
	max-width: 40ch;
	color: grey;
}

.lista-servicios-index{
	justify-self: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.25rem;
	padding-left: 1rem;
	border-left: 2px solid rgb(162, 181, 163);
}

.lista-servicios-index > li{
	transition: transform	1s, color 1s;
	user-select: none;
}

.lista-servicios-index > li:hover{
	transform: translateX(.5rem);
	color: rgb(25, 117, 25);
}


@media screen and ( max-width: 768px){
	.servicios{
		gap: 2rem;
		grid-template-columns: 1fr;
	}

	.lista-servicios-index{
		justify-self: start;
	}
	
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 1.5rem;
}


@media screen and ( max-width: 768px){
	.footer {
		flex-direction: column;
		gap: .5rem;
		padding: 2rem;
	}
}


/* Estilos pagina productos */

.tabla{
	width: 100%;
	border: 1px solid grey;
	border-collapse: collapse;
}

.tabla th,
.tabla td{
	padding: .5rem;
	border: 1px solid grey;
	color: rgb(45, 45, 45);
}

.tabla th{
	background: rgb(230, 230, 230);
	color: rgb(42, 42, 42);
	text-align: start;
}

/* Portada de las paginas */
.hero-section{
	min-height: 30rem;
	position: relative;
	background-size: cover;
	background-position: center center;
	display: grid;
	place-content: center;
}

.hero-section.productos{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(../img/productos.png);
}

.hero-section.sobre-nosotros{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(../img/nosotros.png);
}

.hero-section.contacto{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(../img/contacto.png);
}

.hero-section.sobre-nosotros h1{
 padding-left: 1rem;
}

.hero-section h1{
	color: white;
	font-size: 3rem;
	animation: fade-in-top 1s;
}


/*  Pagina sobre nosotros */

.container.sobre-nosotros{
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 768px){
	.container.sobre-nosotros{
		flex-direction: column;
	}
}

.container.sobre-nosotros .titulo-h2{
	max-width: 40ch;
}
.container.sobre-nosotros p{
	line-height: 1.5;
	color: grey;
	font-size: 1.2rem;
	max-width: 60ch;
}

/* Pagina Nosotros */

.container.formulario-contacto{
	display: flex;
	justify-content: center;
}

.form-container{
	width: 80%;
}


.form-container label{
	display: block;
	margin-bottom: .5rem;
}

.form-container input,
.form-container textarea{
	font-size: inherit;
	outline: none;
	transition: border 1s ;
	padding: .5rem;
}

.form-container input{
	height: 2.5rem;
	width: 100%;
	margin-bottom: .5rem;
}

.form-container input:focus,
.form-container textarea:focus{
	border: 2px solid rgb(44, 159, 44);
}

.form-container textarea{
	width: 100%;
	margin-bottom: 1rem;
}

.form-container div{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-container div input{
	flex-basis: 4rem;
}

/*  Animaciones */

@keyframes fade-in-top{
	0% {transform: translateY(1rem); opacity: 0;}
	100% {transform: translateY(0); opacity: 1;}
}

@keyframes fade-in-right{
	0% {
		transform: translateX(-1rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}