@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Esta propiedad toma en cuenta
	el padding, margin y borders dentro del ancho del elemento.
	Facilita el manejo del tamaño de los elementos*/ }

html {
  font-family: 'Montserrat', sans-serif;
  /* Establecemos la misma fuente para toda la pagina */ }

body {
  overflow-x: hidden; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  /* sacar subrayado de enlaces en menú*/
  color: inherit; }

ul {
  list-style: none;
  margin-bottom: 0; }

section {
  padding: 10rem 0; }

.button, .button--primary, .button--secondary, .button--no-bg {
  border: none;
  outline: none;
  padding: .5rem 1.25rem;
  border-radius: .2rem;
  font-family: inherit;
  font-size: inherit;
  background: black;
  color: white; }
  .button:hover, .button--primary:hover, .button--secondary:hover, .button--no-bg:hover {
    opacity: .85; }
  .button:focus, .button--primary:focus, .button--secondary:focus, .button--no-bg:focus {
    border: lightgray; }

.button--primary {
  background: #2E8B57; }
  .button--primary:hover {
    color: white; }

.button--secondary {
  background: #f3f3f3;
  color: black; }
  .button--secondary:hover {
    color: black; }

.button--no-bg {
  background: transparent;
  color: white; }
  .button--no-bg:hover {
    color: inherit; }

.titulo-h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #121212;
  margin-bottom: 1rem; }

.nav-links li {
  border: 1px solid transparent; }
  .nav-links li a {
    padding: 10px 20px;
    transition: all 1s; }
    .nav-links li a:hover {
      background: #f7f7f7;
      color: #2b7c2b;
      font-weight: 600; }

.nav-links,
.nav-logo {
  animation: fade-in-right .5s; }

@media screen and (max-width: 1024px) {
  .nav.container {
    flex-direction: column;
    gap: 1rem; }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-weight: 500; } }

/* Portada */
.parallax {
  /* The image used */
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.5)), url("../img/portada.png");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 12% 1rem; }
  .parallax div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #ebebeb;
    /*esta forma le aplica valor al top, bottom, right and left*/
    /* rem = unidad de medida relativa a el tamaño de fuente del documento html. Por defecto es 16px  */
    animation: fade-in-top 1.5s; }
  .parallax h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    /* Aplica el margen solo debajo del elemento */ }
  .parallax p {
    font-size: 1.5rem;
    max-width: 50ch; }

@media screen and (max-width: 768px) {
  .parallax h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* Aplica el margen solo debajo del elemento  */ }
  .parallax p {
    font-size: 1.2rem; } }

/* grid productos */
.product-card {
  border: 1px solid #ececec;
  background: #f3f3f3;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow .5s; }
  .product-card:hover {
    box-shadow: 0px 1.9px 8px rgba(0, 0, 0, 0.028), 0px 5.3px 22.2px rgba(0, 0, 0, 0.04), 0px 12.7px 53.4px rgba(0, 0, 0, 0.052), 0px 42px 177px rgba(0, 0, 0, 0.08); }
    .product-card:hover .product-price {
      color: #2aa82a; }
  .product-card img {
    transition: transform .5s, scale .5s; }
    .product-card img:hover {
      transform: translateY(-0.5rem);
      transform: scale(1.02); }
  .product-card div {
    padding: 1rem;
    background: #f9f9f9;
    border-top: 1px solid #ececec;
    color: #121212; }
  .product-card .product-price {
    font-size: 1.25rem; }

#productos .titulo-h2 {
  margin-bottom: 2rem; }

/* Contactanos call to action */
#soporte div {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/contact-us.png");
  background-position: center center;
  background-size: cover;
  color: white; }

/* Seccion Opiniones */
#opiniones .card-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%; }

/* Servicios */
#servicios {
  background-color: #f3f3f3; }

.servicios aside {
  font-size: 2rem; }

.servicios aside p {
  font-size: 1.25rem;
  max-width: 40ch;
  color: grey; }

.lista-servicios-index {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  border-left: 2px solid #a2b5a3; }

.lista-servicios-index > li {
  transition: transform	1s, color 1s;
  user-select: none; }

.lista-servicios-index > li:hover {
  transform: translateX(0.5rem);
  color: #197519; }

@media screen and (max-width: 768px) {
  .servicios {
    gap: 2rem;
    grid-template-columns: 1fr; }
  .lista-servicios-index {
    justify-self: start; } }

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem; }

.footer-logo {
  width: 6rem; }

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: .5rem;
    padding: 2rem; } }

/* Estilos pagina productos */
.tabla {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse; }
  .tabla th, .tabla td {
    padding: .5rem;
    border: 1px solid grey;
    color: #2d2d2d; }
  .tabla th {
    background: #f3f3f3;
    color: #2a2a2a;
    text-align: start; }

/* Portada de las paginas */
.hero-section {
  min-height: 30rem;
  position: relative;
  background-size: cover;
  background-position: center center;
  display: grid;
  place-content: center; }

.hero-section.productos {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5)), url("../img/productos.png"); }

.hero-section.sobre-nosotros {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5)), url("../img/nosotros.png");
  background-position: center 20%; }

.hero-section.contacto {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5)), url("../img/contacto.png");
  background-position: center;
  background-size: cover; }

.hero-section.sobre-nosotros h1 {
  padding-left: 1rem; }

.hero-section h1 {
  color: white;
  font-size: 3rem;
  animation: fade-in-top 1s; }

/* categories-grid */
#categories-grid > div > div {
  background-position: center center;
  background-size: cover;
  transition: transform .5s; }
  #categories-grid > div > div:hover {
    transform: scale(1.05);
    box-shadow: 0px 2.3px 2.7px rgba(0, 0, 0, 0.108), 0px 6.3px 7.5px rgba(0, 0, 0, 0.155), 0px 15.1px 18.1px rgba(0, 0, 0, 0.202), 0px 50px 60px rgba(0, 0, 0, 0.31); }

.componentes-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/componentes.png"); }

.audio-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/audio.png"); }

.perifericos-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/perifericos.png"); }

.almacenamiento-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/almacenamiento.png"); }

.conectividad-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/conectividad.png"); }

.energia-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/energia.png"); }

.seguridad-img {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url("../img/seguridad.png"); }

/* Pagina servicios */
#services {
  animation: fade-in-top 1s; }

.service-icon, .service-icon--primary {
  padding: .6rem;
  background: lightgrey;
  color: grey; }

.service-icon--primary {
  background: #2E8B57;
  color: white; }

/*  Pagina sobre nosotros */
.container.sobre-nosotros .titulo-h2 {
  max-width: 40ch; }

.container.sobre-nosotros p {
  line-height: 1.5;
  color: #5b6889;
  font-size: 1.2rem;
  max-width: 60ch; }

/*  Animaciones */
@keyframes fade-in-top {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    transform: translateX(-1rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
