@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*Esta propiedad toma en cuenta
	el padding, margin y borders dentro del ancho del elemento.
	Facilita el manejo del tamaño de los elementos*/
}

html{
	font-family: 'Montserrat', sans-serif; 
	/* Establecemos la misma fuente para toda la pagina */
}

body{
	overflow-x: hidden;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	/* sacar subrayado de enlaces en menú*/
	color: inherit;
}

@mixin reset-listas{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul{
	@include reset-listas;
}

section{
	padding: 10rem 0;
}

.button{
	border: none;
	outline: none;
	padding: .5rem 1.25rem;
	border-radius: .2rem;
	font-family: inherit;
	font-size: inherit;
	background: black;
	color: white;

	&:hover{
		opacity: .85;
	}

	&:focus{
		border: lightgray;
	}
}

.button--primary{
	@extend .button;
	background: $color-principal;
	&:hover{
		color: white;
	}
}

.button--secondary{
	@extend .button;
	background: $color-bg;
	color: black;
	&:hover{
		color: black;
	}
}

.button--no-bg{
	@extend .button;
	background: transparent;
	color: white;
	&:hover{
		color: inherit;
	}
}

.titulo-h2{
	font-size: 2rem;
	font-weight: 700;
	color: rgb(18, 18, 18);
	margin-bottom: 1rem;
}

.nav-links{
	li{
		border: 1px solid transparent;

		a{
			padding: 10px 20px;
			transition: all 1s;

			&:hover{
				background: rgb(247, 247, 247);
				color: rgb(43, 124, 43);
				font-weight: 600;
			}
		}
	}
}


.nav-links,
.nav-logo	{
	animation: fade-in-right .5s;
}

@media screen and (max-width: 1024px){
	.nav.container{
		flex-direction: column;
		gap: 1rem;
	}

	.nav-links{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		font-weight: 500;
	}
}

/* Portada */
.parallax {
	/* The image used */
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.9) 30%, rgba(0,0,0,.5)),
	url("../img/portada.png");
	/* Set a specific height */
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* box modeling */
	padding: 12% 1rem;

  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(235, 235, 235);
    /*esta forma le aplica valor al top, bottom, right and left*/
    /* rem = unidad de medida relativa a el tamaño de fuente del documento html. Por defecto es 16px  */
    animation: fade-in-top 1.5s;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    /* Aplica el margen solo debajo del elemento */
  }

  p {
    font-size: 1.5rem;
    max-width: 50ch;
  }
}


@media screen and (max-width: 768px){
	.parallax {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      /* Aplica el margen solo debajo del elemento  */
    }
    p {
      font-size: 1.2rem;
    }
  }
} 


/* grid productos */

.product-card{
	border: 1px solid rgb(236, 236, 236);
	background: $color-bg;
	overflow: hidden;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow .5s;

  &:hover{
    box-shadow:
    0px 1.9px 8px rgba(0, 0, 0, 0.028),
    0px 5.3px 22.2px rgba(0, 0, 0, 0.04),
    0px 12.7px 53.4px rgba(0, 0, 0, 0.052),
    0px 42px 177px rgba(0, 0, 0, 0.08)
  ; 

    .product-price{
      color: rgb(42, 168, 42);
    }
  }

  img{
    transition: transform .5s,
                scale .5s;

    &:hover{
      transform: translateY(-.5rem);
      transform: scale(1.02);
    }
  }

  div{
    padding: 1rem;
    background: rgb(249, 249, 249);
    border-top: 1px solid rgb(236, 236, 236);
    color: rgb(18, 18, 18);
  }

  .product-price{
    font-size: 1.25rem;
  }
}

#productos{
  .titulo-h2{
    margin-bottom: 2rem;
  }
}

/* Contactanos call to action */
#soporte{
  div{ 
    background-image: 
      linear-gradient( 180deg, rgba(0,0,0,.6) 50%, rgba(0,0,0,.6)), 
      url(map-get($imagenes-secciones, support));
    background-position: center center;
    background-size: cover;
    color: white;
  }
}

/* Seccion Opiniones */

#opiniones .card-img{
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

/* Servicios */

#servicios{
	background-color: $color-bg;
}

.servicios{
  aside{
    font-size: 2rem;
  }
}

.servicios aside p{
	font-size: 1.25rem;
	max-width: 40ch;
	color: grey;
}

.lista-servicios-index{
	justify-self: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.25rem;
	padding-left: 1rem;
	border-left: 2px solid rgb(162, 181, 163);

	li{
		transition: transform	1s, color 1s;
		user-select: none;

		&:hover{
			transform: translateX(.5rem);
			color: rgb(25, 117, 25);
		}
	}
}

@media screen and ( max-width: 768px){
	.servicios{
		gap: 2rem;
		grid-template-columns: 1fr;
	}

	.lista-servicios-index{
		justify-self: start;
	}
	
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 1.5rem;
}

.footer-logo{
	width: 6rem;
}

@media screen and ( max-width: 768px){
	.footer {
		flex-direction: column;
		gap: .5rem;
		padding: 2rem;
	}
}

/* Estilos pagina productos */
.tabla{
	width: 100%;
	border: 1px solid grey;
	border-collapse: collapse;
  
  th,td{
    padding: .5rem;
    border: 1px solid grey;
    color: rgb(45, 45, 45);
  }

  th{
    background: $color-bg;
    color: rgb(42, 42, 42);
    text-align: start;
  }
}

/* Portada de las paginas */
.hero-section{
	min-height: 30rem;
	position: relative;
	background-size: cover;
	background-position: center center;
	display: grid;
	place-content: center;
}

.hero-section.productos{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(map-get($imagenes-secciones, productos));
}

.hero-section.sobre-nosotros{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(map-get($imagenes-secciones, nosotros));
	background-position: center 20%;
}

.hero-section.contacto{
	background-image: 
	linear-gradient( 180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.5)),
	url(map-get($imagenes-secciones, contacto));
	background-position: center;
	background-size: cover;
}

.hero-section.sobre-nosotros{
  h1{
    padding-left: 1rem;
  }
}

.hero-section{
  h1{
    color: white;
    font-size: 3rem;
    animation: fade-in-top 1s;
  }
}

/* categories-grid */

#categories-grid > div > div{
	background-position: center center;
	background-size: cover;
	transition: transform .5s;

  &:hover{
    transform: scale(1.05);
    box-shadow:
    0px 2.3px 2.7px rgba(0, 0, 0, 0.108),
    0px 6.3px 7.5px rgba(0, 0, 0, 0.155),
    0px 15.1px 18.1px rgba(0, 0, 0, 0.202),
    0px 50px 60px rgba(0, 0, 0, 0.31)
  ;
  }
}

@each $categoria, $img in $imagenes-categorias-prod{
  .#{$categoria}-img{
    background-image: linear-gradient( 180deg, rgba(0,0,0,.6) 50%, rgba(0,0,0,.6)),
	  url($img);
  }
}

/* Pagina servicios */

#services{
	animation: fade-in-top 1s;
}

.service-icon{
	padding: .6rem;
	background: lightgrey;
	color: grey;
}

.service-icon--primary{
	@extend .service-icon;
	background: $color-principal;
	color: white;
}

/*  Pagina sobre nosotros */

.container.sobre-nosotros .titulo-h2{
	max-width: 40ch;
}

.container.sobre-nosotros p{
	line-height: 1.5;
	color: $color-texto;
	font-size: 1.2rem;
	max-width: 60ch;
}

/*  Animaciones */

@keyframes fade-in-top{
	0% {transform: translateY(1rem); opacity: 0;}
	100% {transform: translateY(0); opacity: 1;}
}

@keyframes fade-in-right{
	0% {
		transform: translateX(-1rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}